body {
    padding-top: 50px;
    position: relative;
}

html, body {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: #ff7f2b;
    font-size: 80px;
    font-weight: 200;
    letter-spacing: -5px;
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 0;
}

h1{
    font-family: 'Euphoria Script', cursive;
}

h2, h3, h4, h5, h6
{
    font-family: "Source Sans Pro",sans-serif;
}

.jumbotron h1 {
    background-repeat: no-repeat;
    color: #ff7f2b;
    font-family: 'Euphoria Script', cursive;
    font-size: 72px;
    font-weight: 200;
    letter-spacing: -5px;
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 0;
}

.navbar-nav{
    font-size: 12px;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

.jumbotron .btn-github {
    background-image: url("http://nightwatchjs.org/img/github.png");
    background-position: 9px 7px;
    background-repeat: no-repeat;
    padding-left: 48px;
}
.btn-lg {
    background: none repeat scroll 0 0 #794422;
    border: 0 none;
    border-radius: 0;
    color: #eee;
    font-size: 20px;
    text-shadow: 1px 0 1px rgba(0, 0, 0, 0.5);
}

.btn-lg {
    background: none repeat scroll 0 0 #794422;
    border: 0 none;
    border-radius: 0;
    color: #eee;
    font-size: 20px;
    text-shadow: 1px 0 1px rgba(0, 0, 0, 0.5);
}

.jumbotron .row .download {
    text-align: right;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color:#ff7f2b;
  background: transparent;  
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid #ff7f2b;
    color: #ff7f2b;
}

.navbar-default .navbar-nav > li > a {
    color: #bbb;
    margin: 0 10px;
    padding: 10px 0 5px;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'),                
    url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCVh0V6fR69OLaFLklYbiSk.woff2) format('woff2'),     
    url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGMa9awK0IKUjIWABZIchFI8.woff) format('woff');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), 
    url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGOode0-EuMkY--TSyExeINg.woff2) format('woff2'), 
    url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff) format('woff');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'), 
    url(http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format('woff2'), 
    url(http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}

.navbar-default {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #000111;
    border-color: -moz-use-text-color -moz-use-text-color #111222;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

li > .active {
    
}



[data-uri="/"] section[data-page-uri="/"], [data-uri="/guide"] section[data-page-uri="/guide"], [data-uri="/api"] section[data-page-uri="/api"], [data-uri="/blog"] section[data-page-uri="/blog"], [data-uri="/contact"] section[data-page-uri="/contact"] {
    display: block;
}
section[data-page-uri] {
    display: none;
}

.jumbotron {
    background: none repeat scroll 0 0 #000111;
    padding-top: 20px;
}

.jumbotron p {
    color: #777;
    font-size: 18px;
}

footer .align-left {
    float: left;
}

.jumbotron h1 em {
    color: #794422;
    font-style: normal;
}

.jumbotron .row {
    margin-top: 30px;
}

.jumbotron .row .download {
    text-align: right;
}

.jumbotron .btn-primary span.glyphicon {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.btn-lg span.version {
    display: inline-block;
    font-size: 12px;
    margin-left: 5px;
}

.jumbotron .social {
    margin: 30px auto 0;
    padding: 0;
    width: 500px;
}

.social ul {
    height: 20px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.social ul li {
    float: left;
    height: 20px;
    line-height: 1;
    margin: 0;
    padding: 0;
}

footer {
    background: none repeat scroll 0 0 #eee;
}
footer {
    color: #444444;
    font-size: 12px;
    margin-top: 20px;
    padding: 15px 0;
}
