html{
    box-sizing: border-box;

}

html, body {
    font-size: 12px;
    height: 80%;

}

body{
    margin: 20px;
    margin-right: 50px;
    margin-left: 50px;
    color: #444;
}

h1, h2, h3, .list, .title_view, #title{
    font-family: 'Bree Serif', Georgia, serif;
    font-style: normal;
    font-size: 15px;
}

.logo{
    width: 200px;
    height: 59px;
}

.head_container, .title_view, .logo{
    white-space:nowrap;
}

.title_view, .logo{
    display:inline;
}

div {
    display: block;
}

#header{
    display: table;
}

#header, #container{

    clear: both;
    max-width: 920px;
    margin: auto;
    position: relative;
    padding: 0;
    border: 0;
    text-indent: 0;
    text-decoration: none;
    font-style: normal;
    vertical-align: baseline;
    box-sizing: inherit;
    border-bottom: 1px solid #CCC;

}

#container{

    height: 60%;
}

#logo_view, #title_view{

    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
    padding-left: 20px;
}

#logo_view{
    border-right: 1px solid #CCC;
}

a:link{
    color: #2898ff;
    text-decoration: none;
}

a:visited{
    color: #2898ff;
    text-decoration: none;
}

a:hover {
    color: #0079ff;
    text-decoration: none;
}

a:active {
    color: #2898ff;
    text-decoration: none;
}

.wrap{
    max-width: 940px;
    height: 50px;
    position: relative;
}